.rect-box {
    height: 420px;
    width: 76rem;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 19px;
    background-color: white;
    margin-top: 1rem;
    margin-left: 6rem
}

.property-image {
    width: 37%;
    height: 350px;
    border-radius: 19px;
    padding: 4px;
    margin-bottom: 1rem
}
.Amne{
    background-color:lightgoldenrodyellow; /* Green */
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .Amnety{
    width: 8rem;
    background-color: rgba(32, 178, 171, 0.411); /* Green */
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    /* padding: 2px 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  .Amnety2{
  
    background-color: lightgoldenrodyellow; /* Green */
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    padding: 0px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  