.owner{
    background-color: #f4bf96c7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    
}
.hh
{
    color: #f4bf9600;
}
/* .email_owner
{
    padding: 10px;
    border-radius: 1rem;
}
.email_owner::placeholder {
    font-size: 13px;
    
    opacity: 1; 
  } */
  .student
  { 
    background-color: #FCF5ED;    
    height: 100vh;
    display: flex;
   text-align: center;
   justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .email_stud
  {
    
    padding: 10px;
    border-radius: 1rem;
  }
  .email_stud::placeholder {
    font-size: 13px;
    
    opacity: 1; 
  }
  .stud_inputfields{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  .png_apart{
    margin-left: 2rem;

  }
/* Login.css */

.email_owner {
  width: 80%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.email_owner:focus {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.email_owner::placeholder {
  color: #999;
}
.create{
  color: blue;
  cursor: pointer;
}
.log_sub{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.log_sub:hover{
  background-color: #0056b3;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.log_sub:active{
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}